/*box2*/
.Rightside {
    align-self: center;
    justify-self: center;
    margin-left: -100px;
}

/*headerbox2*/
.formheader {
    height: 50px;
    border: 1px solid rgb(93, 84, 163);
    border-radius: 10px;
    background: rgb(93, 84, 163);
    text-align: center;
    color: aliceblue;
    font-size: 20px;
    margin-bottom: 30px;

}

.titleheader {
    margin-top: 10px;
}

.formcontainer {
    display: grid;
    border: 1px solid;
    border-radius: 10px;
    background: aliceblue;
    padding: 20px;
    width: 500px;
    height: 450px;
    box-shadow: 0 0 20 px 1px rgba(0, 0, 0, 0.3);
}

.form {
    align-self: center;
    justify-self: center;
}

.texterror {
    margin-top: 0;
}

.forgrup {
    position: relative;
    padding-bottom: 20px;
}

.formimput {
    width: 90%;
    background: aliceblue;
    border: 3px solid rgb(241, 155, 155);
    border-radius: 6px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: 1s ease all;
}


.formimput:focus {
    border: 3px solid rgb(214, 211, 211);
    outline: none;
    box-shadow: 3px 0px 30px rgb(214, 211, 211);
}

.texterror {
    font-size: 12px;
    margin-bottom: 0;

}

/*

.texterror-activo {
    display: block;
}*/

.formvalidacion {
    position: absolute;
    right: 30px;
    bottom: 35px;
    z-index: 100;
    font-size: 21px;
    opacity: 0;
}

.message {
    height: 45px;
    line-height: 45px;
    background: rgb(231, 141, 141);
    padding: 0 15px;
    border-radius: 5px;
    text-align: center;
    display: none
}

/*
.message-activo {
    display: block;
}*/

.link {
    color: rgb(228, 13, 49);
    font-weight: 600;
    font-size: 15px;
}

.formiconerror {
    color: aliceblue !important;
    font-size: 30px;
    padding-right: 21px;
}

.btn {
    background: green;
    width: 100%;
    line-height: 50px;
    border-radius: 8px;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    transition: 1s ease all;
}

.btn:hover {
    background: rgb(153, 230, 153);
    color: black;
}

.messegetext {
    text-align: center;
}

.textterminos {
    text-align: center;
}

.messegetext {
    font-size: 15px;
    color: rgb(231, 141, 141);
    display: none;
}

/*
.messegetext-activo {
    display: block;
}*/

.forgrupcorrecto .formvalidacion {
    color: green !important;
    opacity: 1;
}

.forgrupincorrecto .formvalidacion {
    color: red !important;
    opacity: 1;
}

/*medias*/
@media (max-width: 980px) {
    .homecontainer {

        margin-left: -64px;
    }

    .Rightside {
        margin-top: 50px;
    }
}

@media (max-width: 1100px) {
    .homecontainer {
        width: 50%;
    }

    .title {
        font-size: 32px;
    }

    .text {
        font-size: 15px;
    }

    .formcontainer {
        height: 350px;
        width: 390px;
    }

    .formimput {
        width: 84%;
        height: 30px;
    }

    .formvalidacion {
        font-size: 15px;
        bottom: 30px;
    }

    .btn {
        line-height: 35px;
    }

    .textterminos {
        font-size: 10px;
    }
}

@media (max-width: 390px) {
    .maincontainer {
        display: flex;
        flex-direction: column;
    }

    .formheader {
        font-size: 15px;
    }

    .box1,
    .box2 {
        width: 100%;
    }

    .Rightside {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .title {
        font-size: 25px;
    }

    .text {
        font-size: 15px;
        text-align: center;
    }

    .text {
        font-size: 15px;
        text-align: center;

    }

    .Rightside {
        margin-left: 0;
    }

    .formcontainer {
        height: 350px;
        width: 320px;
    }

    .homecontainer {
        margin-left: 0;
    }
}