body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.maincontainer{
  width: 100%;
  height: 100%;
  background:rgb(255,121,115);
  display: flex;
 /*background-image: url(./assets/bg-intro-desktop.png) ;*/
}
.box1, .box2{
  width: 50%;
}
.box1{
  display: grid;
}
@media (max-width: 390px) {
  .maincontainer{
    width: 100%;
    height: 100%; 
    background-image:  url(./assets/bg-intro-mobile.png);
    ;
  }
}